.ConsentOMatic-CMP-Hider {
    opacity: 0 !important;
}

.ConsentOMatic-Progress-Dialog-Modal {
    position: fixed;
    bottom: 0;
    right: 0;
    background: linear-gradient(170deg, rgb(0,51,153), transparent);
    z-index: 2147483646;
    transition: opacity 1s ease-in-out;
    animation: consentomatic-modalAnimation 0.5s ease-in-out;
}
.ConsentOMatic-Progress-Dialog-Modal.ConsentOMatic-Progress-Complete {
    opacity: 0;
}

@keyframes consentomatic-progressAnimation {
    from {
        background-position: 90% 50%;
    }
    to {
        background-position: 0% 50%;
    }
}
@keyframes consentomatic-modalAnimation {
    from {
        opacity: 0;
    }
}

.ConsentOMatic-Progres-Preview {
    position: absolute;
    width: calc(min(25vw, 20rem));
    height: 12rem;
    background: rgba(0,48,154,0.2);
    box-sizing: border-box;
    bottom: calc(4rem);
    right: 0;
    border-left: 1px solid #00008b12;
    border-top: 1px solid #00008b12;
    border-right: 1px solid #00008b12;
    transition: transform 0.3s ease-out;
    transform-origin: center bottom;
    transform: scaleY(0);
}
.ConsentOMatic-PIP .ConsentOMatic-Progres-Preview {
    transform: scaleY(1);
}
.ConsentOMatic-Progress-Complete .ConsentOMatic-Progres-Preview {
    transform: scaleY(0);
}

.ConsentOMatic-Progress-Dialog {
    position: absolute;
    right: 0;
    bottom: 1rem;
    width: calc(min(25vw, 20rem));
    height: 3rem;
    font-size: 1rem;
    border: 0;
    box-shadow: 0 0 3rem rgba(47, 51, 70, 0.637);
    background: #00309a;
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,48,154,1) 40%,rgba(0,22,91,1) 60%);
    background-size: 400% 400%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    padding: 0.5rem;
    opacity: 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    animation-name: consentomatic-progressAnimation;
    animation-duration: 5s;
    animation-delay: -1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    transition: opacity 1s ease-in-out;
    z-index: 2;
}
.ConsentOMatic-Progress-Dialog:before {
    content: "";
    width: 2rem;
    height: 2rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='0 0 1522 1522'%3E%3Ccircle cx='760.8' cy='760.8' r='727.3' fill='%2311378F'/%3E%3Cpath fill='%23FDD70A' d='m761 74 28 58 64 9-46 45 11 63-57-30-57 30 11-63-46-45 63-9zM1053 153l29 58 63 9-46 45 11 63-57-30-57 30 11-63-46-45 64-9zM1274 362l28 58 64 9-46 45 11 63-57-30-57 30 10-63-46-45 64-9zM1360 673l28 58 64 9-46 45 11 63-57-29-57 29 11-63-46-45 63-9zM1262 958l28 58 64 9-46 45 11 64-57-30-57 30 11-64-46-45 63-9zM1065 1167l28 58 64 9-46 45 11 63-57-30-57 30 11-63-46-45 63-9zM761 1272l28 58 64 9-46 45 11 63-57-29-57 29 11-63-46-45 63-9zM457 1167l28 58 64 9-46 45 11 63-57-30-57 30 11-63-46-45 63-9zM260 958l28 58 64 9-46 45 11 64-57-30-57 30 11-64-46-45 63-9zM162 673l28 58 64 9-46 45 11 63-57-29-57 29 11-63-46-45 63-9zM248 362l29 58 63 9-46 45 11 63-57-30-57 30 11-63-46-45 64-9zM468 153l29 58 63 9-46 45 11 63-57-30-57 30 11-63-46-45 64-9z'/%3E%3Cpath fill='%23FFF' d='M915 730v-79a153 153 0 0 0-307 0v79h-29v282h364V730h-28zm-51 32-40 61c-22 35-40 73-56 111l-16 45c-2 5-6 7-10 8-7 1-14 0-21-2-4-1-7-4-9-8l-27-52c-8-14-16-26-26-37-4-5-4-9 1-11 9-5 19-5 28-2l7 5a241 241 0 0 1 33 49h1l6-12c21-51 47-98 78-144l11-15c3-5 7-7 12-8 8-1 15-1 23 2l3 1c4 2 5 5 2 9zm6-111v79H653v-79a109 109 0 1 1 217 0z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 0.5rem;
}
.ConsentOMatic-Progress-Dialog:after {
    content: "";
    background: green;
    height: 0.2rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.25s ease-out;
    width: calc(var(--progress) * 100%);
}

.ConsentOMatic-Progress-Dialog p {
    color: white;
    margin: 0;
    font-size: 0.8rem;
    font-family: sans-serif;
    font-weight: 300;
}

.ConsentOMatic-Progress-Dialog::backdrop {
    transition: background 1s ease-in-out;
    background: transparent;
}
.ConsentOMatic-Progress-Started .ConsentOMatic-Progress-Dialog {
    opacity: 1;
}
.ConsentOMatic-Progress-Started .ConsentOMatic-Progress-Dialog::backdrop {
    background: rgba(0,20,100,0.25);
}
.ConsentOMatic-Progress-Complete .ConsentOMatic-Progress-Dialog {
    opacity: 0;
}
.ConsentOMatic-Progress-Complete .ConsentOMatic-Progress-Dialog::backdrop {
    background: transparent !important;
}

.ConsentOMatic-Auto-UI  {
    z-index: 2147483647;
    position: absolute;
    top: 2em;
    left: 2em;
    display: block;
    background-color: blue;
    color:white;
    padding: 1em;
    border: 1px solid black;
}

.ConsentOMatic-Auto-UI li {
    padding-left: 1em;
}

.ConsentOMatic-PossibleBanner-Select {
    border: 5px dotted blue !important;
}

.ConsentOMatic-PossibleCMPPopup-Select {
    border: 5px dotted red !important;
}

.ConsentOMatic-PossibleButton-Select {
    border: 5px dotted yellow !important;
}

.ConsentOMatic-PossibleCategory-Select {
    border: 5px dotted green !important;
}

li:not(.showButtons) .possibleShowSettingsButtons {
    display: none;
}
