.idea/.gitignore
.idea/Consent-O-Matic-Github.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/watcherTasks.xml
node_modules/
dist/
package-lock.json
build/content.css
build/content.js
build/editor.html
build/editor.js
build/hide.svg
build/icon_48.png
build/icon_96.png
build/logo.svg
build/main.css
build/manifest.json
build/minimize.svg
build/options.html
build/popup.html
build/service.js
build/templates.html
build/ui.css
build/ui.js
